In [2]:
print("hello")

hello

In [ ]:
def function_name(parameter):
    #function body
    return expression

In [4]:
num = 24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [14]:
def even_or_odd(num):
    if num % 2 == 0:
        print("the number is even")
    else:
        print("the number is odd")

In [15]:
even_or_odd(23)

the number is odd

In [18]:
##funtion with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [23]:
##Default Parameters

def greet(name):
    print(f"hello {name} Welcome to the paradise" )
    
greet("krish")

hello krish Welcome to the paradise

In [ ]:
## Default Parameters

def greet(name="Guest"):
    print(f"hello {name} Welcome to the paradise" )
    
greet()
greet("Dev")

hello Guest Welcome to the paradise
hello Dev Welcome to the paradise

In [ ]:
## Variable lenght arguments 
## Positional and keywords arguments 

def print_numbers(*args):
    for num in args:
        print(num)

In [33]:
print(1,2,3,4,5,6)

1 2 3 4 5 6

In [34]:
## Keywords Arguments :  parameters will be in key value pairs 

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [35]:
print_details(name="dev",age="22",country="india")

name:dev
age:22
country:india

In [37]:
## Keywords Arguments :  parameters will be in key value pairs 

def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional arguments : {val}")
        
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [38]:
print_details(1,2,3,name="dev",age="22",country="india")

Positional arguments : 1
Positional arguments : 2
Positional arguments : 3
name:dev
age:22
country:india

In [42]:
## return statement 

def multipy(a,b):
    return a*b,a

multipy(2,3)

(6, 2)