#### SQL
SQL (Structured Query Language) is used to create, read, update, and delete data in relational databases using queries, making it essential for managing structured, table-based information effectively.

#### SQLite
SQLite is a lightweight, serverless database engine that stores data in a single file. It uses SQL, ideal for embedded systems, small applications, prototyping, and local data storage needs.

In [1]:
import sqlite3

In [2]:
## Connect to an SQlite database

connection=sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [ ]:
## Create a table

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name text Not Null,
    age Integer,
    department text
)               
''')

## Commit the changes 

connection.commit()

In [7]:
## Create a table

cursor.execute('''
Select * from employees
              
''')

In [8]:
## Insert the data 

cursor.execute('''
Insert Into employees(name,age,department)
                values('Dev',21,'Data Scientist')
''')

cursor.execute('''
Insert Into employees(name,age,department)
                values('Parth',22,'Software Engineering')
''')

cursor.execute('''
Insert Into employees(name,age,department)
                values('Dev',21,'Hacker')
''')

## Connection commit

connection.commit()

In [9]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Dev', 21, 'Data Scientist')
(2, 'Parth', 22, 'Software Engineering')
(3, 'Dev', 21, 'Hacker')

In [12]:
## Update the data

cursor.execute('''
UPDATE employees
Set age=34
where name="Dev"  
''')
connection.commit()

cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Dev', 34, 'Data Scientist')
(2, 'Parth', 22, 'Software Engineering')
(3, 'Dev', 34, 'Hacker')

In [18]:
## Delete the data from the data

cursor.execute('''
Delete from employees 
            where name='Parth'  
''') 
connection.commit()

cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Dev', 34, 'Data Scientist')
(3, 'Dev', 34, 'Hacker')

In [35]:
import sqlite3

# Create a new database file (or connect if it exists)
connection = sqlite3.connect('new_sales_data.db')
cursor = connection.cursor()

# Step 1: Create a new table
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales_data (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Step 2: Sample data
sales_data = [
    ('2023-01-01', 'Product 1', 100, 'north'),
    ('2023-01-02', 'Product 2', 200, 'south'),
    ('2023-01-03', 'Product 1', 150, 'east'),
    ('2023-01-04', 'Product 3', 250, 'west'),
    ('2023-01-05', 'Product 2', 300, 'north'),
]

# Step 3: Insert data
cursor.executemany('''
INSERT INTO sales_data (date, product, sales, region)
VALUES (?, ?, ?, ?)
''', sales_data)

# Step 4: Commit and close
connection.commit()

print("✅ New database and table created successfully with sample data.")

✅ New database and table created successfully with sample data.

In [36]:
cursor.execute('Select * from sales_data')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product 1', 100, 'north')
(2, '2023-01-02', 'Product 2', 200, 'south')
(3, '2023-01-03', 'Product 1', 150, 'east')
(4, '2023-01-04', 'Product 3', 250, 'west')
(5, '2023-01-05', 'Product 2', 300, 'north')
(6, '2023-01-01', 'Product 1', 100, 'north')
(7, '2023-01-02', 'Product 2', 200, 'south')
(8, '2023-01-03', 'Product 1', 150, 'east')
(9, '2023-01-04', 'Product 3', 250, 'west')
(10, '2023-01-05', 'Product 2', 300, 'north')
(11, '2023-01-01', 'Product 1', 100, 'north')
(12, '2023-01-02', 'Product 2', 200, 'south')
(13, '2023-01-03', 'Product 1', 150, 'east')
(14, '2023-01-04', 'Product 3', 250, 'west')
(15, '2023-01-05', 'Product 2', 300, 'north')